<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jk.borelog"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity
            android:name="com.jk.borelog.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="LoginPage"></activity>
        <activity android:name="ProjectList"></activity>
        <activity android:name="BoreHoleNoSelectionView"></activity>
        <activity android:name="BoreHoleDetailPage"></activity>
        <activity android:name="BoreHoleInfoDetailPage"></activity>
        <activity android:name="DailyJournalPage"></activity>
        <activity android:name="AddDailyJournalPage"></activity>
        <activity android:name="AddInsituTestLogPage"></activity>
        <activity android:name="InsituTestLogPage"></activity>
        <activity android:name="DrillingLogPage"></activity>
        <activity android:name="AddDrillingLogPage"></activity>
        <activity android:name="AddSoilTypeEntryPage"></activity>
        <activity android:name="AddRockTypeEntryPage"></activity>
    </application>

</manifest>